# App Configuration
APP_NAME="EMA - Authentication"
APP_TIMEZONE="Asia/Jakarta"
APP_SECRET="secret"
APP_ENV="development" #change to production for HTTPS cookie
APP_HOST="localhost"
APP_PORT="1263"

VERIFY_URL="http://localhost:8082/auth/verify"

# Login Command by Whatsapp Message
LOGIN_COMMAND="Zeettt! Start"

# Database Configuration
DB_DRIVER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASSWORD=""
DB_NAME="root"

# Folder for storing uploaded files
STORAGE_FOLDER="uploads"

# CORS
CORS_ALLOWORIGINS="http://localhost:8082,http://localhost:4321, http://localhost:8000, http://172.245.53.218:8082"
CORS_ALLOWMETHODS="GET,POST,DELETE,PATCH" #method allow e.g GET,POST,DELETE,PATCH
CORS_ALLOWHEADERS="Origin,Content-Type,Authorization"

# Cookie
COOKIE_DOMAIN=""
COOKIE_HTTPONLY="true" # false | true 
COOKIE_ACCESSAGE="15" #minute
COOKIE_REFRESHAGE="7" #day
COOKIE_SAMESITE="lax" #lax | strict

# Redis configuration
REDIS_ADDR="localhost:6379"
REDIS_PASSWORD=""

# LLM Configuration
#GEMINI_API_KEY="AIzaSyDcXL8ASQI7w8naKjNnDuvl7cTA-8NiKEU"

# SMTP Configuration
SMTP_HOST="smtp.mail.com"
SMTP_PORT="587"
SMTP_USER="mail@mail.com"
SMTP_PASS="password"
SMTP_FROM="mail@mail.com"
SMTP_NAME="Zeettt! Asistant - No Reply"

# Xendit Configuration
XENDIT_API_KEY="xnd_development_your_api_key_here"
XENDIT_WEBHOOK_VERIF_TOKEN="your_random_secret_token_here"